
{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">

    <div class="d-flex justify-content-between mb-3">

        <h2>📋 {{ title|default:"Orders" }}</h2>

        <a href="/new-order/" class="btn btn-primary">
            ➕ New Order
        </a>

    </div>
<form method="GET" class="mb-3">

    <div class="input-group">

        <input
            type="text"
            name="search"
            class="form-control"
            placeholder="Search by Name, Phone or Order Number"
            value="{{ search }}">

        <button class="btn btn-primary">
            Search
        </button>

    </div>

</form>

    <table class="table table-bordered table-striped">

        <thead>
            <tr>
                <th>Order #</th>
                <th>Customer</th>
<th>Payment</th>
    <th>Balance</th>
                <th>Total</th>
		<th>Delivery Date</th>
                <th>Status</th>
<th>Action</th>

            </tr>
        </thead>

        <tbody>

        {% for order in orders %}

            <tr>

                
<td>
    <a href="/order/{{ order.id }}/">
        {{ order.order_number }}
    </a>
</td>

                <td>{{ order.customer.name }}</td>
    <td>

        {% if order.payment_status == 'paid' %}

            <span class="badge bg-success">
                Paid
            </span>

        {% elif order.payment_status == 'partial' %}

            <span class="badge bg-warning text-dark">
                Partial
            </span>

        {% else %}

            <span class="badge bg-danger">
                Unpaid
            </span>

        {% endif %}

    </td>

    <td>

        {{ order.balance|floatformat:3 }}

    </td>

                <td>{{ order.total_amount|floatformat:decimal_places }}

{{ currency }}</td>
<td>{{ order.delivery_date }}</td>

                <td>

                    {% if order.status == 'received' %}
                        <span class="badge bg-warning">
                            Received
                        </span>

                    {% elif order.status == 'washing' %}
                        <span class="badge bg-primary">
                            Washing
                        </span>

                    {% elif order.status == 'ready' %}
                        <span class="badge bg-success">
                            Ready
                        </span>

                    {% else %}
                        <span class="badge bg-secondary">
                            Picked Up
                        </span>
                    {% endif %}

                </td>
<td>
{% if order.status == 'received' %}

<a
    href="/order/{{ order.id }}/edit/"
    class="btn btn-warning btn-sm">

    Edit

</a>

{% endif %}

{% if user.is_superuser %}
<button
class="btn btn-danger"
data-bs-toggle="modal"
data-bs-target="#deleteModal">
Delete Order
</button>
{% elif current_staff and current_staff.is_owner %}
<button
class="btn btn-danger"
data-bs-toggle="modal"
data-bs-target="#deleteModal{{ order.id }}">
Delete Order
</button>
<div class="modal fade"

     id="deleteModal{{ order.id }}"

     tabindex="-1">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title">

                    Delete Order

                </h5>

                <button

                    type="button"

                    class="btn-close"

                    data-bs-dismiss="modal">

                </button>

            </div>

            <div class="modal-body">

                Are you sure you want to delete

                <strong>

                    Order #{{ order.order_number }}

                </strong>

                ?

                <br><br>

                Customer:

                <strong>

                    {{ order.customer.name }}

                </strong>

                <br><br>

                This action cannot be undone.

            </div>

            <div class="modal-footer">

                <button

                    class="btn btn-secondary"

                    data-bs-dismiss="modal">

                    Cancel

                </button>

                <a

                href="/order/{{ order.id }}/delete/"

                class="btn btn-danger">

                    Delete

                </a>

            </div>

        </div>

    </div>

</div>
{% endif %}
</td>

            </tr>

        {% empty %}

            <tr>
                <td colspan="4">
                    No Orders Found
                </td>
            </tr>

        {% endfor %}

        </tbody>

    </table>

</div>



{% endblock %}
