{% extends 'base.html' %}

{% block content %}

<h2>Receive Payment</h2>

<div class="card">

    <div class="card-body">

        <p>
            Order {{ order.order_number }}
        </p>

        <p>
            Balance:
            {{ order.balance|floatformat:decimal_places }}

{{ currency }}
        </p>
{% if error %}

<div class="alert alert-danger">

    {{ error }}

</div>

{% endif %}

        <form method="POST">

            {% csrf_token %}

            <input
                type="number"
                step="0.001"
                name="amount"
                class="form-control mb-3"
                required>

            <button
                class="btn btn-success">

                Save Payment

            </button>

        </form>

    </div>

</div>

{% endblock %}