{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">

    <div class="card shadow">

        <div class="card-body">

            <h3>

                Reset Password

            </h3>

            <p>

                {{ shop.name }}

            </p>

            <form method="POST">

                {% csrf_token %}

                <div class="mb-3">

                    <label>

                        New Password

                    </label>

                    <input

                        type="password"

                        name="password"

                        class="form-control"

                        required

                    >

                </div>

                <button

                    class="btn btn-success"

                >

                    Update Password

                </button>

            </form>

        </div>

    </div>

</div>

{% endblock %}